In [14]:
import pandas as pd
df1 = pd.read_csv('/Users/YoungWoo/stock_psychic_api/com_stock_api/naver_finance/data/lginnotek.csv',encoding='UTF-8-sig')
df1.head()

         date   close    open    high     low  volume  stock
0  2020-10-16  157000  158000  160000  155000   89705  11070
1  2020-10-15  159500  163000  163500  156000  127547  11070
2  2020-10-14  163000  166000  169000  162500  224184  11070
3  2020-10-13  163000  166500  168500  162000  195485  11070
4  2020-10-12  162000  167500  168000  161500  117661  11070

In [11]:
df1.columns = ['date','close','open','high','low','volume','ticker']
df1.head()

         date   close    open    high     low  volume  ticker
0  2020-10-16  157000  158000  160000  155000   89705   11070
1  2020-10-15  159500  163000  163500  156000  127547   11070
2  2020-10-14  163000  166000  169000  162500  224184   11070
3  2020-10-13  163000  166500  168500  162000  195485   11070
4  2020-10-12  162000  167500  168000  161500  117661   11070

In [12]:
df1['date']=pd.to_datetime(df1['date'].astype(str), format='%Y/%m/%d')
df1.set_index('date', inplace=True)
df1.head()

             close    open    high     low  volume  ticker
date
2020-10-16  157000  158000  160000  155000   89705   11070
2020-10-15  159500  163000  163500  156000  127547   11070
2020-10-14  163000  166000  169000  162500  224184   11070
2020-10-13  163000  166500  168500  162000  195485   11070
2020-10-12  162000  167500  168000  161500  117661   11070

In [13]:
#del df1['Unnamed: 0']
df1.to_csv('/Users/YoungWoo/stock_psychic_api/com_stock_api/naver_finance/data/lginnotek.csv',encoding='UTF-8-sig')
df1.head()

             close    open    high     low  volume  ticker
date
2020-10-16  157000  158000  160000  155000   89705   11070
2020-10-15  159500  163000  163500  156000  127547   11070
2020-10-14  163000  166000  169000  162500  224184   11070
2020-10-13  163000  166500  168500  162000  195485   11070
2020-10-12  162000  167500  168000  161500  117661   11070